IMAGE_GALAXY_PROFTPD=bgruening/galaxy-stable:latest
IMAGE_GALAXY_STABLE=bgruening/galaxy-stable:latest
IMAGE_GALAXY_POSTGRES=bgruening/galaxy-stable:latest
IMAGE_PGADMIN4=thajeztah/pgadmin4:latest
DIR_GALAXY_POSTGRES=/full/path/to/the/directory/galaxy-compose/super_postgres/
GALAXY_PORT=8080
