IMAGE_GALAXY_PROFTPD=bgruening/galaxy-stable:latest
IMAGE_GALAXY_STABLE=bgruening/galaxy-stable:latest
IMAGE_GALAXY_POSTGRES=bgruening/galaxy-stable:latest
IMAGE_PGADMIN4=thajeztah/pgadmin4:latest
DIR_GALAXY_POSTGRES=./super_postgres/
DIR_GALAXY_PROFTPD=./super_proftpd/
GALAXY_PORT=8080
