TAG_PROFTPD=latest
EXPORT_DIR=/path/to/export/directory/if/you/use/one
NODE_ROLE=manager
TAG_POSTGRES=latest
TAG_SLURM=latest
TAG_INIT=latest
TAG_HTCONDOR=latest
TAG_HTCONDOR_EXECUTOR=latest
TAG_HTCONDOR_BIG=latest
TAG_GRAFANA=latest
TAG_GALAXY_WEB=latest
GALAXY_PORT=8080
DIR_GALAXY_POSTGRES=/full/path/to/the/directory/galaxy-compose/super_postgres/
